<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="static/css/test.css">
</head>
<body>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Cooking">Cooking</option>
        <option value="Heating">Heating</option>
        <option value="Other">Other</option>
    </select>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Cold">Cold</option>
        <option value="Hot">Hot</option>
        <option value="Mixed">Mixed</option>
    </select>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Beginner">Beginner</option>
        <option value="Expert">Expert</option>
    </select>
    
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="Interior">Beginner</option>
        <option value="Exterior">Expert</option>
    </select>
</body>
</html>