{% extends "base.html" %}
{% load static %}

{% block title %}
<title>forms - ucca</title>
{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #ff69b4;">
                {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <p>hello forms</p>
{% endblock content %}