<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="static/css/test.css">
</head>
<body>
<div id="area">
    <a href="{% url 'support' %}"><button id="button-1"><img src="static/media/support.png"></button></a>
    <a href="{% url 'builder' %}"> <button id="button-2"><img src="static/media/tools.png"> </button></a>
</div>
<div id="text">
    <h2 id="build">Builders</h2>
    <h2 id="support">Supporters</h2>
</div>
</body>
</html>